.QuiltD{
/* background: url('website/pages/pic/rushki.png') no-repeat center; */
background-color: blueviolet;
    background-size: contain;
    padding: 40px;
    /* отступы внутри рамки */
    display: inline-block;
}